body {
    font-family: cursive;
    padding: 0px;
    margin: 0px;
    background-image: url(./desktop-wallpaper-fitness-gym-boy.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    color: white;
    
}

.left{
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    left: 42px;
    top: 20px;
}


.mid{
    /* border: 2px solid green; */
    display: block;
    width: 60%;
    margin: 20px auto;
}

.right{
    /* border: 2px solid blue; */
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 20px;
}

.navbar{
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 24px;
}

.navbar li a{
    color: white;
    text-decoration: none;
    padding: 7px 20px;
}

.navbar li a:hover, .navbar li a.active{
   text-decoration: underline;
   color: red;
}


.left img{
    width: 100px;
}

.left div{
    text-align: center;
    color: white;
}

.btn{
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-family: cursive;
}

.btn:hover{
    background-color: grey;
}

.container{
    border: 2px solid white;
    margin: 115px 70px;
    padding: 75px;
    width: 30%;
    border-radius: 10px;
    height: 210px;
}

.form-group input{
    text-align: center;
    display: block;
    width: 320px;
    padding: 6px;
    border: 2px solid black;
    margin: 3px auto;
    border-radius: 10px;
    font-family: cursive;
    font-size: 16px;
}

.container h3{
    text-align: center;
    line-height: 0px;
}

.container button{
    display: block;
    margin: 4px auto;
}